/*===========Footer Section============*/
#wrapper #footer{
	padding: 40px 0;
	background-color: #00B9F3;
	color: #C8FFFF;
}
#wrapper #footer h4{
	font-size: 30px;
}
#wrapper #footer .owner_name{
	margin-top: 70px;
}