section.post-wrapper {
    margin-top: 30px;
}

.additional_info_container {
    background-color: #ededed;
    padding-top: 5px;
}
.additional_info_container .each_row {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 8px 8px;
    margin-bottom: 8px;
}
.nav-links{

}
.nav-previous a{
    margin-left: 15px;
}
.nav-next a{
    margin-right: 15px;	
}
.nav-previous a:before {
  content: "\f100";
  margin-left: -13px;
  margin-right: 5px;
}
.nav-next a:after {
  content: "\f101";
  margin-left: 5px;
  margin-right: -13px;
}
.nav-previous a:before, .nav-next a:after {
  font-family: 'FontAwesome';
  font-weight: 700;
}
.navigation.post-navigation {
    margin-top: 20px;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}




#publish_info{
	float: left;
	margin-top: 50px;
}
#single_news #publish_info .date_time p{
margin: 0;
}
#news_details{
	float: left;
	padding: 0 10px 0 0;
}
#news_details .single_news_title{
	font-size: 35px;
	margin: 0 0 15px 0;
}
#news_details .news_text .ntext{
	margin: 10px 0 20px 0;
	font-size: 20px;
	text-align: justify;
}
#news_details .news_text .news_highlight_text{
	margin-top: 10px !important;
	font-size: 24px;
	font-weight: 700;
}



#news_sidebar ul.news_sidebar_menu>li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#news_sidebar ul.news_sidebar_menu>li:hover{
	opacity: 0.9;
}
#news_sidebar ul.news_sidebar_menu>li:hover .sidebar_title{
	color: #ffc107;
}
#news_sidebar ul.news_sidebar_menu>li .sidebar_title{
	display: inline;
	padding-left: 10px;
	transition: 0.2s;
	font-size: 24px;
}
#news_sidebar ul.news_sidebar_menu>li .sidebar_menu_overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}