section.post-wrapper {
    margin-top: 30px;
}
.news_content p {
    font-size: 18px;
}
.additional_info_container {
    background-color: #ededed;
    padding-top: 5px;
}
.additional_info_container .each_row {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 8px 8px;
    margin-bottom: 8px;
}
.nav-links{

}
.nav-previous a{
    margin-left: 15px;
}
.nav-next a{
    margin-right: 15px;	
}
.nav-previous a:before {
  content: "\f100";
  margin-left: -13px;
  margin-right: 5px;
}
.nav-next a:after {
  content: "\f101";
  margin-left: 5px;
  margin-right: -13px;
}
.nav-previous a:before, .nav-next a:after {
  font-family: 'FontAwesome';
  font-weight: 700;
}
.navigation.post-navigation {
    margin-top: 20px;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

.breadcrumb-container{
	margin-top: 10px;
}

.content-area {
    margin-top: 20px;
}

.page-content .widget {
    margin-top: 10px;
}
.page-content .widgettitle {
	background: #04091e;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 20px;
}
.post-meta {
    border-bottom: 1px solid #e2e2e2;
    line-height: 24px;
    overflow: hidden;
    padding: 8px 0;
    clear: both;
}
.post-meta span a {
    padding: 3px 8px;
    background: #eee;
    border-radius: 3px;
    color: #000;
    margin-right: 8px;
    margin-bottom: 8px;
}

/* related post*/
.related-post{
  margin-top: 20px;
  margin-bottom: 20px;
}
.related-post .label-title {
    margin-bottom: 9px;
    display: inline-flex;
}
.posts-i {
  color: #373d54;
  position: relative;
  width: 100%;
  float: left;
  height: 236px;
  overflow: hidden;
}
.posts-i .posts-i-img {
  display: block;
  height: 100%;
  overflow: hidden;
  border: none;
  position: relative;
}
.posts-i .posts-i-img:after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
  transition: background 0.5s;
}
.posts-i:hover .posts-i-img:after {
  background: rgba(0,0,0,0.5);
}
.posts-i .posts-i-img span {
  width: 100%;
  height: 100%;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  display: block;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}
.posts-i:hover .posts-i-img span {
  -webkit-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}
.posts-i .posts-i-date {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
  padding: 0;
  position: absolute;
  color: #fff;
  top: 15px;
  left: 35px;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.posts-i:hover .posts-i-date {
  opacity: 1;
  top: 20px;
}
.posts-i .posts-i-date span {
  display: block;
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  margin: 0 0 1px;
}
.posts-i .posts-i-info {
  position: absolute;
  bottom: 15px;
  left: 35px;
  right: 35px;
  padding: 0;
  color: #fff;
  line-height: 1;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.posts-i:hover .posts-i-info {
  opacity: 1;
  bottom: 20px;
}
.posts-i-ctg {
  background: #04091e;
  padding: 5px 7px;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 45%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  transition: all 0.3s ease 0s;  
}

.owl-nav .owl-prev {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  left: 0;
}
.owl-nav .owl-next {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    right: 0;
}
.owl-nav .owl-prev .lnr,
.owl-nav .owl-next .lnr {
  color: #fff;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background: #fff;
}
.owl-nav .owl-prev:hover .lnr,
.owl-nav .owl-next:hover .lnr {
  color: #f6214b;
}
.posts-i a {
    color: #fff;
}

.posts-i-ttl {
    margin: 10px 0;
}



#publish_info{
	float: left;
	margin-top: 50px;
}
#single_news #publish_info .date_time p{
margin: 0;
}
#news_details{
	float: left;
	padding: 0 10px 0 0;
}
.single_news_header .single_news_title{
	font-size: 35px;
	margin: 0 0 15px 0;
}
#news_details .news_text .ntext{
	margin: 10px 0 20px 0;
	font-size: 20px;
	text-align: justify;
}
#news_details .news_text .news_highlight_text{
	margin-top: 10px !important;
	font-size: 24px;
	font-weight: 700;
}



#news_sidebar ul.news_sidebar_menu>li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#news_sidebar ul.news_sidebar_menu>li:hover{
	opacity: 0.9;
}
#news_sidebar ul.news_sidebar_menu>li:hover .sidebar_title{
	color: #ffc107;
}
#news_sidebar ul.news_sidebar_menu>li .sidebar_title{
	display: inline;
	padding-left: 10px;
	transition: 0.2s;
	font-size: 24px;
}
#news_sidebar ul.news_sidebar_menu>li .sidebar_menu_overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.author img {
    margin-bottom: 5px;
}
.news_content .post-thumbnail {
    margin-bottom: 15px;
}
.news_content .post-thumbnail img {
    width:100%;
}
.heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
    margin-top: 15px;
}